/* RESET*/
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time {margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption {font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe {border: none; }
caption,th {text-align: left; }
table {border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption {display: block; }
/* LAYOUT */
* {
  margin: 0;
  padding: 0;
}

html, body {width: 100%;height: 100%;position: relative; }
html {background-color:#fff; }
img {border: 0; }
a {text-decoration: none;color: #515151; cursor: pointer;}
a:focus {outline: none;}
i {font-style: normal;}
ul, li {list-style: none; }
p {
  max-height: 100%;
}
.clearfix:after, .clearfix:before {content: "";display: table;height: 0px;clear: both;visibility: hidden;}
.clearfix{ *zoom:1; }

canvas {
  width: 100%;
}

.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-transition: visibility 1s linear;
  transition: visibility 1s linear;
  visibility: visible;
}

.modal-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 250px;
  background: rgba(0, 0, 0, 0.8);
  padding: 50px;
  border-radius: 50px;
  text-align: center;
}

.modal-mask.in {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.modal-mask.out{
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
  pointer-events: none;
  visibility: hidden;
}

.modal-wrapper .arrows {
  text-align: justify;
}

.modal-wrapper .arrow_left, .modal-wrapper .arrow_right {
  display: inline-block;
  width: 60px;
  height: 50px;
  background: url('./arrow.png');
  background-size: cover;
}

.modal-wrapper .arrow_right {
  transform: rotate(180deg);
}

.modal-wrapper p {
  color: #e9ba12;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

#restart p {
  font-size: 45px;
  margin-bottom: 20px;
}

.modal-wrapper #btn-start,.modal-wrapper #btn-restart {
  width: 150px;
  height: 60px;
  margin-top: 60px;
  border: 1px solid #e9ba12;
  border-radius: 60px;
  background: transparent;
  color: #e9ba12;
  font-size: 40px;
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
    /* transition-timing-function: cubic-bezier(.215,.61,.355,1); */
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0,25px,0);
    transform: translate3d(0,25px,0);
  }

  75% {
    opacity: 1;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
  }

  90% {
    opacity: 1;
    -webkit-transform: translate3d(0,5px,0);
    transform: translate3d(0,5px,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
  }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0,-2000px,0);
    transform: translate3d(0,-2000px,0);
  }
}